# Build results
bin/
obj/
lib/
share/
lib64
archive/
minilm_onnx/

pyvenv.cfg

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# MonoDevelop
*.userprefs

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# DotCover
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Coverity
coverity/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.asm
*_p.asm

# Others
_ReSharper*/
*.DotSettings.user
TestResult*/
build/
# Local history for Visual Studio
.localhistory/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# VS Code settings
.history/

# JetBrains Rider
.idea/
*.sln.iml